<h1>This is the show page for the superpower, thanks for coming.</h1>

<h2>The name of the superpower is: <%= @superpower.name %> </h2>

<h3> A brief descript is: <%= @superpower.description %> </h3>
