<h1>This is the show page.</h1>

 <h2> The name of the superhero: <%= @superhero.name %> </h2>

 <h3>The supername of the superhero: <%= @superhero.super_name %> </h3>

 <h4>The superpower for the superhero is: <%= link_to @superhero.superpower.name, @superhero.superpower %></h4>
